body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dark-mode {
	background-color: black;
}

.dark-mode h1 {
	color: white;
}

.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}

.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}

.note.new {
	background-color: #67d7cc;
}

textarea {
	border: none;
	resize: none;
	background-color: #67d7cc;
}

textarea:focus {
	outline: none;
}

.save {
	background-color: #e1e1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.save:hover {
	background-color: #ededed;
	cursor: pointer;
}

.note {
	background-color: #fef68a;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete-icon {
	cursor: pointer;
}

.search {
	display: flex;
	align-items: center;
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 1.5em;
}

.search input {
	border: none;
	background-color: rgb(233, 233, 233);
	width: 100%;
}

.search input:focus {
	outline: none;
}

  /* To DO App 2 */

.task-input {
	outline: none;
	width: 260px;
	padding: 15px;
	margin-right: 5px;
	margin-top: 20px;
	font-size: 15px;
	color: #ccc;
	background-color: #000000;
	border-radius: 10px;
	align-self: center;
	display: flex;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);	
}

.button-add {
	width: 10px;
	padding: 15px;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 20px;
	border-radius: 10px;
	border: 0;
	background-color: #67d7cc;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	cursor: pointer;
	max-height: 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button-add:hover {
	background-color: #53a8a0;
}

.list-item {
	display: flex;
	margin: 20px 0;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	max-height: 30px;
	justify-content: space-between
}

.button-complete,
.button-delete,
.button-edit {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	font-size: 28px;
	border-radius: 50%;
}

.button-complete {
	color: #ff6c6c;
	margin-right: 10px;
}

.button-edit {
color: #ff6c6c;
margin-right: 10px;
}	

.button-delete {
	color: lightseagreen;
}

.complete {
	text-decoration-style: solid;
	text-decoration-line: line-through;
	text-decoration-color: #ff6c6c;
	opacity: 0.6;
}

.list {
	width: 250px;
	border: none;
	color: #12343b;
	font-size: 20px;
	padding-left: 10px;
	margin-right: 15px;
	overflow-x: scroll;
}

.centralizar {
	height: 10em;
	display: flex;
	align-items: center;
	justify-content: center
}

input:focus,
button:focus {
	outline: none;
}


  